# npm
node_modules
# next.js build files
.next
# environment variables
.env
.env.*
!.env.examplevenv/
*.pyc
__pycache__/
db.sqlite3
.DS_Store
.aider*
.env
__Constants__
pages/api/add-to-playlist.ts
appwrite-docker-compose.yml
appwrite.env
/playlist-collection
yt_bk_
pages/pp.tsx
src/components/Typ_bk