services:
  web:
    # build: .
    image: atemndobs/viewer-pwa:v0.3
    container_name: viewer-pwa
    ports:
      - "3400:3000"
    # volumes:
      # - .:/app
    environment:
      - NODE_ENV=production
      - YOUTUBE_API_KEY=AIzaSyC0kQQzDSk_gEpjmcHfHlTdwmnQ8kKGQIo



# services:
#   web:
#     build: .
#     container_name: youtube-viewer
#     ports:
#       - "3400:3000"
#       - "3001:3001"
#     volumes:
#       - .:/app
#     environment:
#       - NODE_ENV=production
